.root {
    -fx-background-color: #f9f7f7;
}

.label {
    -fx-text-fill: #112d4e;
}

.text-field {
    -fx-background-color: -fx-text-box-border, -fx-background;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-radius: 0;
}

.text-field:focused {
    -fx-background-color: -fx-focus-color, -fx-background;
}

#layout-pane {
    -fx-background-color: #dbe2ef;
}

#title-text {
    -fx-font-size: 40px;
    -fx-fill: #112d4e;
}

#initial-playing-grid {
    -fx-background-color: #dbe2ef;
}
